﻿<!DOCTYPE html>
<link href="~/StyleSheet.css" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Vision Games</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("StoreManager"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Staff")" class="navbar-brand">
                                    <span>BVG</span>
                                    <i class="fas fa-gamepad"></i>
                                </a>
                            </li>
                            <li>@Html.ActionLink("Stock", "Index", "Staff")</li>
                            <li>@Html.ActionLink("All Orders", "AllOrders", "Staff")</li>
                            <li>@Html.ActionLink("BVG Suppliers", "Suppliers", "Staff")</li>
                        }
                        else if (User.IsInRole("Customer"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                                    <span>BVG</span>
                                    <i class="fas fa-gamepad"></i>
                                </a>
                            </li>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Games", "Games", "Home")</li>
                            <li>@Html.ActionLink("Electronics", "Electronics", "Home")</li>
                        }
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                                <span>BVG</span>
                                <i class="fas fa-gamepad"></i>
                            </a>
                        </li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Games", "Games", "Home")</li>
                        <li>@Html.ActionLink("Electronics", "Electronics", "Home")</li>
                    }


                    @*if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                        }
                        if (User.IsInRole("SalesAssistant"))
                        {
                            <li>@Html.ActionLink("POS", "Index", "Home")</li>
                            <li>@Html.ActionLink("Register Customer", "Index", "Home")</li>
                        }
                        if (User.IsInRole("InvoiceClerk"))
                        {
                            <li>@Html.ActionLink("Invoice Management", "Index", "Home")</li>
                            <li>@Html.ActionLink("Loyalty Members", "Index", "Home")</li>
                        }
                        if (User.IsInRole("StoreManager"))
                        {
                            <li>@Html.ActionLink("POS", "Index", "Home")</li>
                            <li>@Html.ActionLink("Loyalty Members", "Index", "Home")</li>
                        }*@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr style="height:1px;border-width:0;color:black;background-color:#000000; margin-top:50px; width: 999px">
        <footer style="text-align: center">
            <div>
                <p>
                    &copy; @DateTime.Now.Year - Big Vision Games
                    <div>
                        <a href="@Url.Action("About", "Home")" style="color:#000000">
                            <span>About BVG</span>
                            <i class="fas fa-gamepad"></i>
                        </a>
                        &nbsp; &nbsp;&nbsp;
                        <a href="@Url.Action("Contact", "Home")" style="color:#000000">
                            <span>Contact Us</span>
                            <i class="fas fa-phone-alt"></i>
                        </a>
                    </div>
                </p>
            </div>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
