﻿@using Microsoft.AspNet.Identity

<script src="https://kit.fontawesome.com/9d300b28bd.js" crossorigin="anonymous"></script>

<link href="~/StyleSheet.css" rel="stylesheet" />

@if (Request.IsAuthenticated)

{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">
            @*<li style="font-size: medium"><a href="@Url.Action("AccountDetails", "Home")" title="My Account"><i class="fas fa-user-circle"></i></a></li>*@

            @if (User.IsInRole("StoreManager"))
            {
                <li class="dropdown" style="margin-right: 130px; margin-top: 15px;">
                    <p class="dropbtn"><i class="fas fa-user-circle" style="font-size:large"></i></p>
                    <p class="dropdown-content">
                        <a href="@Url.Action("AccountDetails", "Home")">My Account</a>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><span>Log out </span><i class="fas fa-sign-out-alt"></i></a>
                    </p>
                </li>

            }
            @if (User.IsInRole("Customer"))
            {
                <li class="dropdown" style="margin-right: 10px; margin-top: 15px;">
                    <p class="dropbtn"><i class="fas fa-user-circle" style="font-size:large"></i></p>
                    <p class="dropdown-content">
                        <a href="@Url.Action("AccountDetails", "Home")">My Account</a>
                        <a href="@Url.Action("MyOrders", "Home")">My Orders</a>
                        <a href="@Url.Action("MyCards", "Home")">My Cards <i class="far fa-credit-card"></i></a>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><span>Log out </span><i class="fas fa-sign-out-alt"></i></a>
                    </p>
                </li>
                <li style="margin-right:70px; font-size:large "><a href="@Url.Action("ViewBasket", "Basket")" title="View My Basket"><i class="fas fa-shopping-cart"></i></a></li>
            }

        </ul>


    }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("About BVG", "About", "Home")</li>
        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<hr style="height:1px;border-width:0;color:black;background-color:#000000; margin-top:50px; width: 999px" ;>

<style>
    .dropbtn {
        background-color: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ececec;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #d7d6d6;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #ececec;
    }
</style>