﻿.button {
    background-color: #34657d;
    color: #ffffff;
    border-radius: 4px;
    padding: 6px 18px;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.4s;
    text-decoration: none;
}

    .button:hover {
        background-color: #7f9ba9;
        color: #ffffff;
        text-decoration: none;
    }

body {
    font-family: Rubik;
    background-image: url('Images/noisy-texture-200x100-o6-d10-c-e2e2e8-t0.png');
    height: 100%;
}

.productname {
    color: black;
}


