﻿@model BigVisionGames.Models.Product

<link href="~/StyleSheet.css" rel="stylesheet" />

<div style="text-align:center">
    <h2 style="margin-bottom:100px; margin-top:20px">@Model.ProductName has been added to your basket</h2>
    <div>
        @Html.ActionLink("Back To Shop", "Index", "Home", null, new {@class= "button"})
    </div>
    <div style="margin-top:30px">
        @Html.ActionLink("View My Basket", "ViewBasket", null , new {@class= "button"})
    </div>
</div>
