﻿@model BigVisionGames.ViewModels.OrderLineViewModel
@{
    ViewBag.Title = "AddToBasket";
}
<link href="~/StyleSheet.css" rel="stylesheet" />

<h2>Select the Quantity</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            @Model.Product.ProductName <br />
            £@Model.Product.Price
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ChosenQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChosenQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChosenQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Product.ProductId)

        <div class="form-group" style="margin-left:215px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="button" />
            </div>
        </div>
    </div>    
}

<div>
    @Html.ActionLink("Back", "Details", "Home", new { id = Model.Product.ProductId }, new { @class = "button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
