﻿@model BigVisionGames.Models.OrderLine

<link href="~/StyleSheet.css" rel="stylesheet" />

<h3>Remove @Model.Product.ProductName from your basket?</h3>
<div>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-bottom:20px">
            <input type="submit" value="Remove" class="button" />
        </div>
    }
</div>

<div>@Html.ActionLink("My Basket", "ViewBasket", null, new {@class= "button"})</div>
