﻿@model BigVisionGames.Models.OrderLine

    <h2>Edit Quantity</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderLineId)

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model=>model.ProductId)
        @Html.HiddenFor(model=>model.OrderId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back To Basket", "ViewBasket", "Basket", null, new { @class = "button" })
</div>
