﻿@model BigVisionGames.ViewModels.BasketViewModel

<link href="~/StyleSheet.css" rel="stylesheet" />

<h1>My Basket</h1>

<br />

<table class="table">

    @foreach (var item in Model.orderlines)
    {
        <tr>
            <td>
                <div style="font-size: x-large">@Html.DisplayFor(modelItem => item.Product.ProductName)</div>
                Qty: @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="font-size: large; text-align:right">
                £@Html.DisplayFor(modelItem => item.LineTotal)
            </td>
            <td style="text-align: right">
                <a href="@Url.Action("DeleteFromBasket", "Basket", new { prodId = item.Product.ProductId, orderId = item.Order.OrderId })" class="button" title="Delete" style="background-color:#ff0000">
                    <i class="far fa-trash-alt"></i>
                </a>
                &nbsp;
                <a href="@Url.Action("EditOrderLine", "Basket", new { id = item.OrderLineId })" class="button" title="Change Quantity">
                    <i class="far fa-edit"></i>
                </a>
            </td>
        </tr>

    }

    @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        </td>*@

</table>


@if (Model.orderlines.Count == 0)
{
    <p style="font-size:larger; font-weight:bold">Basket is empty!</p>
    <br>
    <br>
    @Html.ActionLink("Back To Shop", "Index", "Home", null, new { @class = "button" })
}
else
{
    <p style="margin-top:50px; font-weight:700; font-size:large; margin-left: 995px; margin-bottom:20px">
        @Html.DisplayNameFor(model => model.orderTotal) &nbsp;
        £@Html.DisplayFor(model => model.orderTotal)
    </p>
    <div style="margin-left:1000px">
        <a href="@Url.Action("CardsList", "Checkout", new { orderid = Model.Order.OrderId})" class="checkoutbutton">
            <span>
                Checkout
            </span>
        </a>
    </div>
    <br>
    <div>
        <a href="@Url.Action("ClearBasket", "Basket", new { id = Model.Order.OrderId})" class="button" style="background-color:#ff0000">
            <span>
                Clear My Basket
            </span>
            <i class="far fa-trash-alt"></i>
        </a>
    </div>
}
<style>

    .checkoutbutton {
        background-color: #029c16;
        color: #ffffff;
        border-radius: 4px;
        padding: 6px 18px;
        font-size: 16px;
        text-decoration: none;
        transition-duration: 0.4s;
        text-decoration: none;
    }

        .checkoutbutton span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.4s;
            color: #ffffff;
        }

            .checkoutbutton span:after {
                content: '\21FE';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.4s;
            }

        .checkoutbutton:hover span {
            padding-right: 25px;
        }

            .checkoutbutton:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>