﻿@{
    ViewBag.Title = "About Us";
}

<link href="~/StyleSheet.css" rel="stylesheet" />



<h2>@ViewBag.Title</h2>

<p>
    Big Vision Games was founded in 2020 and is dedicated with providing people with a wide variety
    of games for a variety of platforms along with electronics ranging from mobile phones to
    computer devices.
</p>
