﻿@{
    ViewBag.Title = "Contact Us";
}
<link href="~/StyleSheet.css" rel="stylesheet" />


<h2>@ViewBag.Title</h2>

<h3>Get in touch with us through email or post!</h3>

<p>
    Email: businessbvg@gmail.com <br />
    Address: 190 Cathedral Street, Glasgow, Scotland.
</p>

