﻿@model BigVisionGames.Models.Product


<link href="~/StyleSheet.css" rel="stylesheet" />


<a href="@Html.DisplayFor(model => model.ImageLink)" target="_blank" title="View Image"><h2 class="productname">@Model.ProductName</h2></a>

<div>
    <div style="font-size:large;">
        £@Html.DisplayFor(model => model.Price)
    </div>
    @Html.DisplayFor(model => model.Description)
    <br>
    <br>
</div>

<div>
    @Html.ActionLink("Home", "Index", null, new { @class = "button" })
</div>

@if (!User.IsInRole("StoreManager"))
{
    <div style="margin-left:899px">
        @Html.ActionLink("Add to Basket", "AddToBasket", "Basket", new { id = Model.ProductId }, new { @class = "button" })
    </div>
}

