﻿@model IEnumerable<BigVisionGames.Models.Electronic>
    <br />
<h4>Shop from our electronics range</h4>

<link href="~/StyleSheet.css" rel="stylesheet" />

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div style="font-size:x-large">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </div>
                £@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("View", "Details", new { id = item.ProductId }, new { @class = "button" })
            </td>

        </tr>
    }



</table>
