﻿@model IEnumerable<BigVisionGames.Models.Game>
<link href="~/StyleSheet.css" rel="stylesheet" />
<br />

<h4>Shop from our range of games</h4>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div style="font-size:x-large">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </div>
                £@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.ActionLink("View", "Details", new { id = item.ProductId }, new { @class = "button" })
            </td>

        </tr>
    }



</table>


