﻿@model IEnumerable<BigVisionGames.Models.Product>
@{
    ViewBag.Title = "Big Vision Games";
}
<link href="~/StyleSheet.css" rel="stylesheet" />
<h2><i class="fas fa-home"></i></h2>


<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div style="font-size:x-large">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </div>
                £@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("View", "Details", new { id = item.ProductId }, new { @class = "button" })
            </td>

        </tr>
    }


</table>

