﻿@model IEnumerable<BigVisionGames.Models.Card>

<link href="~/StyleSheet.css" rel="stylesheet" />


<h2>My Cards</h2>
<table class="table">

    @foreach (var card in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => card.CardHolderName)</td>

            @{
                string cardNumber = card.CardNumber.ToString().Substring(12);
            }
            <td>xxxx-xxxx-xxxx-@Html.DisplayFor(modelItem => cardNumber)</td>

            <td>@Html.DisplayFor(modelItem => card.ExpiryMonth)/@Html.DisplayFor(modelItem => card.ExpiryYear)</td>

            <td>
                <a href="@Url.Action("DeleteCard", "Home", new { cardId=card.CardId})" class="button" title="Delete">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }


</table>

@if (!Model.Any())
{
    <p style="font-size:larger; font-weight:bold">No Saved Cards</p>
}