﻿@model BigVisionGames.ViewModels.BasketViewModel

<link href="~/StyleSheet.css" rel="stylesheet" />


<h1>Order #@Model.Order.OrderId Details</h1>

<table class="table">

    @foreach (var item in Model.orderlines)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
                <br />
                Qty: @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.LineTotal)
            </td>
        </tr>

    }

</table>
<p style="margin-top:50px; font-weight:700; font-size:large; margin-left: 995px; margin-bottom:20px">
    @Html.DisplayNameFor(model => model.orderTotal) &nbsp;
    £@Html.DisplayFor(model => model.orderTotal)
</p>
<div>
    @Html.ActionLink("Back", "MyOrders", "Home", null, new { @class = "button" })
</div>

