﻿@model  BigVisionGames.ViewModels.CardsViewModel

<link href="~/StyleSheet.css" rel="stylesheet" />



<h3>Select a card to use</h3>
<br />
<br />

<table class="table">

    @foreach (var card in Model.cards)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => card.CardHolderName)
                <br />
                <div style="font-weight:bold">
                    @{
                        string cardNumber = card.CardNumber.ToString().Substring(12);
                    }
                    xxxx-xxxx-xxxx-@Html.DisplayFor(modelItem => cardNumber)
                </div>
            </td>

            <td>@Html.DisplayFor(modelItem => card.ExpiryMonth)/@Html.DisplayFor(modelItem => card.ExpiryYear)</td>
            <td>
                <a href="@Url.Action("CheckoutConfirmed", "Checkout", new { cardId = card.CardId, orderId = Model.order.OrderId })" class="checkoutbutton">
                    <span>Confirm & Pay £@Model.order.OrderTotal</span>
                </a>
            </td>
            <td>
                <a href="@Url.Action("DeleteCard", "Checkout", new { cardId = card.CardId, orderId = Model.order.OrderId })" class="button" title="Delete" style="background-color:#ff0000">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>

@Html.HiddenFor(model => model.order.OrderId)


<a href="@Url.Action("AddNewCard", "Checkout", new { id = Model.order.OrderId })" class="button">
    <span>Add New Card</span>
    <i class="fas fa-plus"></i>
</a>


<style>
    .checkoutbutton {
        background-color: #34657d;
        color: #ffffff;
        border-radius: 4px;
        padding: 6px 18px;
        font-size: 16px;
        text-decoration: none;
        transition-duration: 0.4s;
        text-decoration: none;
    }

        .checkoutbutton span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.4s;
            color: #ffffff;

        }

            .checkoutbutton span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.4s;
            }

        .checkoutbutton:hover span {
            padding-right: 25px;
        }

            .checkoutbutton:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>