﻿@model BigVisionGames.ViewModels.BasketViewModel

<link href="~/StyleSheet.css" rel="stylesheet" />

<div style="text-align:center; margin-top: 24px">
    <h1 style="background-size: 80px; color:#029c16"><i class="fas fa-check-circle"></i></h1>
    <h2>Your order #@Model.Order.OrderId has been confirmed</h2>
    <h4>Thank you for shopping with Big Vision Games!</h4>
</div>
<br />
<br />
<br />

<table class="table">

    @foreach (var item in Model.orderlines)
    {
        <tr>
            <td>
                <div style="font-size: x-large; margin-right:290px">@Html.DisplayFor(modelItem => item.Product.ProductName)</div>
                Qty: @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="font-size: large;">
                £@Html.DisplayFor(modelItem => item.LineTotal)
            </td>
        </tr>

    }

</table>
<p style="margin-top:50px; font-weight:700; font-size:large; margin-left: 895px; margin-bottom:20px">
    @Html.DisplayNameFor(model => model.orderTotal) &nbsp;
    £@Html.DisplayFor(model => model.orderTotal)
</p>

<div>@Html.ActionLink("Export To PDF", "OrderToPDF", new { id = Model.Order.OrderId }, new { @class = "button" })</div>
<br />
<div>@Html.ActionLink("Back To Shop", "Index", "Home", null, new { @class = "button" })</div>
