﻿@model IEnumerable<BigVisionGames.Models.Order>

<link href="~/StyleSheet.css" rel="stylesheet" />



<h2>All Orders</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div style="font-size:large">
                    Order #@Html.DisplayFor(modelItem => item.OrderId)
                </div>
                <div style="font-weight: bold">
                    £@Html.DisplayFor(modelItem => item.OrderTotal)
                </div>
            </td>
            <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
            <td>
                @Html.ActionLink("Details", "AllOrderDetails", new { id = item.OrderId }, new { @class = "button" })
            </td>
        </tr>
    }

</table>

@if (!Model.Any())
{
    <p style="font-size:larger; font-weight:bold">No Orders</p>
}
