﻿@model BigVisionGames.ViewModels.BasketViewModel

<link href="~/StyleSheet.css" rel="stylesheet" />


<h1>Order #@Model.Order.OrderId Details</h1>

<table class="table">

    @foreach (var item in Model.orderlines)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => item.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.LineTotal)
            </th>
        </tr>
        break;

    }



    @foreach (var item in Model.orderlines)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.LineTotal)
            </td>
        </tr>

    }

</table>
<p style="margin-top:50px; font-weight:700; font-size:large; margin-left: 995px; margin-bottom:20px">
    @Html.DisplayNameFor(model => model.orderTotal) &nbsp;
    £@Html.DisplayFor(model => model.orderTotal)
</p>
<div>
    @Html.ActionLink("Back", "AllOrders", "Staff", null, new {@class= "button"})
</div>

