﻿@model BigVisionGames.Models.Product

<link href="~/StyleSheet.css" rel="stylesheet" />

<a href="@Html.DisplayFor(model => model.ImageLink)" target="_blank" title="View Image"><h2 class="productname">@Model.ProductName </h2></a>

<div>
    <div style="font-size:large;">
        £@Html.DisplayFor(model => model.Price)
    </div>
    @Html.DisplayFor(model => model.Description).
    <br>
    Stock Level: @Html.DisplayFor(model => model.StockLevel)
    <br />
    Supplier: @Html.DisplayFor(model => model.Supplier.SupplierName)
    <br />
    <br />
</div>

<div>
    @Html.ActionLink("Home", "Index", null, new { @class = "button" })
</div>

