﻿@model IEnumerable<BigVisionGames.Models.Product>

<link href="~/StyleSheet.css" rel="stylesheet" />


<h2>BVG Products</h2>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div style="font-size:x-large">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </div>
                £@Html.DisplayFor(modelItem => item.Price)
                <br />
                @if (item.StockLevel < 10 && item.StockLevel >= 1 )
                {
                    <span style="color: red">
                        Stock: @Html.DisplayFor(modelItem => item.StockLevel)
                    </span>
                }
                else if (item.StockLevel == 0)
                {
                    <span style="color: red">
                        Out of Stock
                    </span>
                }
                else if (item.StockLevel >= 10 && item.StockLevel < 25)
                {
                    <span style="color: #b6a025">
                        Stock: @Html.DisplayFor(modelItem => item.StockLevel)
                    </span>
                }
                else if (item.StockLevel >= 25)
                {
                    <span style="color: forestgreen">
                        Stock: @Html.DisplayFor(modelItem => item.StockLevel)
                    </span>
                }
            </td>
            <td>
                @Html.ActionLink("View", "Details", new { id = item.ProductId }, new { @class = "button" })
            </td>

        </tr>
    }



</table>


