﻿@model IEnumerable<BigVisionGames.Models.Supplier>

<h2>BVG Suppliers</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div style="font-weight: bold">
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </div>
                @Html.DisplayFor(modelItem => item.Address)
                <br />
                @Html.DisplayFor(modelItem => item.PhoneNumber)
                <br />
                <a href="@Html.DisplayFor(modelItem => item.Website)" target="_blank">Visit Website</a>
            </td>

        </tr>
    }

</table>

<div>
    @Html.ActionLink("Home", "Index", null, new { @class = "button" })
</div>
